.we-dont-just {
  align-self: stretch;
  position: relative;
  line-height: var(--display-desktop-heading-3-size);
  font-weight: 600;
}
.we-build-scale {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--display-desktop-heading-3-size);
  line-height: 54px;
  font-weight: 700;
  font-family: var(--display-desktop-heading-3);
}
.logistics-image {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.at-growthjockey-we {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.disruptive {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-desktop-body-text-size);
}
.logistics {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.venture-block-title-card {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.venture-intro-card {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  min-width: 456px;
}
.image-143-icon {
  width: 256.3px;
  position: absolute;
  margin: 0 !important;
  bottom: -25px;
  left: calc(50% - 127.65px);
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.supply-chain {
  align-self: stretch;
  position: relative;
  line-height: var(--text-desktop-title-text-size);
  font-weight: 500;
}
.how-we-helped {
  align-self: stretch;
  position: relative;
  font-size: var(--text-desktop-body-text-size);
  line-height: 30px;
}
.supply-chain-logistics-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  z-index: 1;
}
.cs-3 {
  height: 256px;
  flex: 0.8444;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-lg);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.image-144-icon {
  width: 417px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: -65px;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.turning-browsers-into {
  align-self: stretch;
  position: relative;
  font-size: var(--text-desktop-body-text-size);
  line-height: 30px;
  font-family: var(--font-ibm-plex-serif);
}
.cs-002 {
  align-self: stretch;
  height: 256px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-lg);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.image-145-icon {
  width: 593.3px;
  position: absolute;
  margin: 0 !important;
  top: -88px;
  left: 0px;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.cs-002-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0px;
  box-sizing: border-box;
  gap: var(--gap-7xs);
  min-width: 173px;
  color: var(--color-white);
}
.image-147-icon {
  width: 350px;
  position: absolute;
  margin: 0 !important;
  top: -135px;
  left: -30px;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.cs-1 {
  align-self: stretch;
  height: 256px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-lg);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.image-150-icon {
  width: 714.7px;
  position: absolute;
  margin: 0 !important;
  top: -9px;
  left: -71px;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.cs-6 {
  align-self: stretch;
  height: 256px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-lg);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.image-146-icon {
  width: 320.7px;
  position: absolute;
  margin: 0 !important;
  top: -2px;
  left: 0px;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.cs-5 {
  align-self: stretch;
  height: 256px;
  background-color: var(--text-colours-primary-text);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-lg);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.functions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 173px;
}
.venture-showcase-card {
  height: 918px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-width: 456px;
  font-size: var(--text-desktop-text-medium-b-size);
  color: var(--text-colours-primary-text);
}
.venture-block {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--margin-margin-normal);
  box-sizing: border-box;
  gap: var(--gap-gap-large);
  max-width: 1920px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--text-desktop-title-text-size);
  color: var(--text-colour);
  font-family: var(--text-desktop-title-text);
}